<header class="header">
  <div class="container">
    <div class="header__left">
      <a class="logo" id="logo" href="/">
        <% if request.original_fullpath.match? /about|sale_petroleum/ %>
          <img src='/assets/logo.svg'/>
        <% else %>
          <img src='/assets/logo_white.svg'/>
        <% end %>
      </a>
      <div class="header-language">
        <div class="header-language__item" data-locale="ru">
          <%= link_to 'RU', url_for( :locale => 'ru' ), class: "header-language__item" %>
        </div>
        <div class="header-language__item" data-locale="en">
          <%= link_to 'EN', url_for( :locale => 'en' ), class: "header-language__item" %>
        </div>
        <div class="header-language__item" data-locale="zh">
          <%= link_to '中文', url_for( :locale => 'zh' ), class: "header-language__item" %>
        </div>
      </div>
    </div>
    <div class="header-burger" data-test="">
      <div class="header-burger__text header-burger__text_open">
        <%= @buttons['menu'][0]['title'] %>
      </div>
      <div class="header-burger__text header-burger__text_close">
        <%= @buttons['menu_close'][0]['title'] %>
      </div>
      <div class="header-burger__icon">
        <span></span><span></span>
      </div>
    </div>
  </div>
</header>
