<div class="navigation-page">
  <div class="navigation-page__background"></div>
  <nav class="navigation-page__nav">
    <ul>
      <li class="navigation-page__li">
        <a class="navigation-page__link" href="<%= @navigation_page['about'][0]['anchor'] %>">
          <div class="navigation-page__dot"></div>
          <div class="navigation-page__text"><%= @navigation_page['about'][0]['title'] %></div>
        </a>
      </li>
      <li class="navigation-page__li">
        <a class="navigation-page__link" href="<%= @navigation_page['coal_sales'][0]['anchor'] %>">
          <div class="navigation-page__dot"></div>
          <div class="navigation-page__text"><%= @navigation_page['coal_sales'][0]['title'] %></div>
        </a>
      </li>
      <li class="navigation-page__li">
        <a class="navigation-page__link" href="<%= @navigation_page['supply_basic'][0]['anchor'] %>">
          <div class="navigation-page__dot"></div>
          <div class="navigation-page__text"><%= @navigation_page['supply_basic'][0]['title'] %></div>
        </a>
      </li>
      <li class="navigation-page__li">
        <a class="navigation-page__link" href="<%= @navigation_page['news'][0]['anchor'] %>">
          <div class="navigation-page__dot"></div>
          <div class="navigation-page__text"><%= @navigation_page['news'][0]['title'] %></div>
        </a>
      </li>
      <li class="navigation-page__li">
        <a class="navigation-page__link" href="<%= @navigation_page['contact'][0]['anchor'] %>">
          <div class="navigation-page__dot"></div>
          <div class="navigation-page__text"><%= @navigation_page['supply_basic'][0]['title'] %></div>
        </a>
      </li>
    </ul>
  </nav>
</div>
