<div class="popup" id="popup-email-us">
  <div class="popup__container">
    <div class="popup__close"><img src="assets/icons/close.svg" alt=""/></div>
    <%= form_with(model: @feedback, url: feedbacks_url,  data: {turbo: false}) do |form| %>
      <div class="h2 popup__h2"><%= @general['write_us'][0]['text'] %></div>
      <div class="form__row">
        <div class="form__col">
          <div class="form__field">
            <label class="form__label" for="name"><%= @general['you_name'][0]['text'] %><sup>*</sup></label>
            <%= form.text_field :name, class: "form__input", id: "email-us-name", placeholder: @general['you_name_hint'][0]['text'], required: "required" %>
          </div>
        </div>
        <div class="form__col">
          <div class="form__field">
            <label class="form__label" for="email"><%= @general['email'][0]['text'] %><sup>*</sup></label>
            <%= form.email_field :email, class: "form__input", id: "email-us-email", placeholder: @general['email_hint'][0]['text'], required: "required" %>
          </div>
        </div>
        <div class="form__col">
          <div class="form__field">
            <label class="form__label" for="message"><%= @general['info'][0]['text'] %><sup>*</sup></label>
            <%= form.text_area :message, class: "form__textarea", id: "email-us-message", placeholder: @general['info_hint'][0]['text'], name: "message", required: "required" %>
          </div>
        </div>
      </div>
      <%#=  %>
      <%= form.submit @buttons['order'][0]['title'], class: "button button_primary form__submit" %>
    <% end %>
    <div class="form-success">
      <div class="h2 form-success__h2">Успешно отправлено!</div>
      <p class="form-success__text">Ваше сообщение было доставлено, в скоре мы свяжемся с Вами.</p>
    </div>
  </div>
</div>
