<div class="popup" id="popup-email-us">
  <div class="popup__container">
    <div class="popup__close"><img src="/assets/icons/close.svg" alt=""/></div>
    <form class="form form_email-us" id="form-email-us" action="#">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="h2 popup__h2"><%= @titles['write_us'][0]['title'] %></div>
      <div class="form__row">
        <div class="form__col">
          <div class="form__field">
            <label class="form__label" for="name"><%= @titles['you_name'][0]['title'] %><sup>*</sup></label>
            <input class="form__input" id="email-us-name" type="text" placeholder="<%= @titles['you_name_hint'][0]['title'] %>" name="name" required="required"/>
            <div class="form__error" data-type="required"><%= @titles['required'][0]['title'] %></div>
          </div>
        </div>
        <div class="form__col">
          <div class="form__field">
            <label class="form__label" for="email"><%= @titles['email'][0]['title'] %><sup>*</sup></label>
            <input class="form__input" id="email-us-email" type="text" placeholder="<%= @titles['email_hint'][0]['title'] %>" name="email" required="required"/>
            <div class="form__error" data-type="required"><%= @titles['required'][0]['title'] %></div>
            <div class="form__error" data-type="email">Email введен некорректно</div>
          </div>
        </div>
        <div class="form__col">
          <div class="form__field">
            <label class="form__label" for="message"><%= @titles['info'][0]['title'] %><sup>*</sup></label>
            <textarea class="form__textarea" id="email-us-message" placeholder="<%= @titles['info_hint'][0]['title'] %>" name="message" required="required"></textarea>
            <div class="form__error" data-type="required"><%= @titles['required'][0]['title'] %></div>
          </div>
        </div>
      </div>
      <%#=  %>
      <button class="button button_primary form__submit" type="submit">
        <%= @buttons['order'][0]['title'] %>
      </button>
    </form>
    <div class="form-success">
      <div class="h2 form-success__h2"><%= @titles['success'][0]['title'] %></div>
      <p class="form-success__text"><%= @titles['success_desc'][0]['title'] %></p>
    </div>
  </div>
</div>
