<div class="home-hero">
  <video class="home-hero__background" autoplay="true" muted="muted" loop="true" playsinline="playsinline">
    <source src="assets/video/hero.mp4" type="video/mp4"/>
    <source src="assets/video/hero.webm" type="video/webm"/>
  </video>

  <div class="container">
    <div class="home-hero__left">
      <h1>
        <%= @titles['slogan'][0]['title'] %>
      </h1>
      <a class="button button_primary popup-open" href="#popup-order">
        <%= @buttons['order'][0]['title'] %>
      </a>
    </div>
    <div class="home-hero__right">
      <div class="home-hero-counter">
        <div class="home-hero-counter__text"><%= @titles['coal_supplied'][0]['title'] %></div>
        <div class="home-hero-counter__main">>&nbsp;
          <span class="home-hero-counter__value" data-counter='<%= @coal_count %>' data-speed="500">0</span>
          <span class="home-hero-counter_small">&nbsp;тонн</span>
        </div>
      </div>
    </div>
  </div>
  <div class="home-hero__scroll"><img src="assets/icons/angle-down.svg" alt=""/></div>
</div>

<div class="home-about home-section" id="about">
  <div class="home-about-head">
    <div class="container">
      <div class="home-about-head__title">SIBSTAR GROUP</div>
      <h2 class="home-about-head__h2"><%= @titles['about_company'][0]['title'] %></h2>
    </div>
  </div>
  <div class="container">
    <div class="home-about-slider swiper" id="home-about-slider" data-speed="<%= @timer %>">
      <div class="swiper-wrapper">
        <% @slides.each do |slide| %>
          <div class="swiper-slide home-about-slider__slide">
            <div class="home-about-slider__content">
              <div class="home-about-slider__text">
                <%= slide['text'].html_safe %>
              </div>
            </div>
            <div class="home-about-slider__image">
              <% if slide.image.attached? %>
                <img src="<%= url_for(slide.image) %>" alt="" style="height: 100%; width: 100%; -o-object-fit: cover; object-fit: cover;"/>
              <% else %>
                <img src="<%= slide['base_image_url'] %>" alt="" style="height: 100%; width: 100%; -o-object-fit: cover; object-fit: cover;"/>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="home-about-slider-navigation">
        <div class="home-about-slider-navigation__item"></div>
      </div>
    </div>
    <div class="home-about__command">
      <a class="button button_outline popup-open" href="#popup-command">
        <%= @buttons['command'][0]['title'] %>
      </a>
    </div>
  </div>
</div>
<div class="home-coal-sales home-section" id="coal-sales">
  <div class="container">
    <h2 class="home-coal-sales__h2"><%= @titles['coal_sales'][0]['title'] %></h2>
    <p class="home-coal-sales__start-text">
      <%= @general['coal_desc'][0]['text'].html_safe %>
    </p>
    <% @coal_grades.each do |grade| %>
      <%= render 'shared/home_coal_sales_accordion/info', grade: grade %>
    <% end %>
  </div>
</div>
<div class="home-supply-basis home-section" id="supply-basis">
  <div class="container">
    <h2 class="home-supply-basis__h2"><%= @titles['supply_basic'][0]['title'] %></h2>
    <div class="home-supply-basis__buttons">
      <button class="button button_outline" data-path="dap" data-cities="mihajlo-semenovoskaya,grodekovo,kamyshovaya">DAP</button>
      <button class="button button_outline" data-path="fob" data-cities="blagoveshensk,habarovsk">FOB</button>
      <button class="button button_outline" data-path="cfr" data-cities="habarovsk">CFR</button>
      <button class="button home-supply-basis__button-close"><img src="assets/icons/close.svg" alt=""/></button>
    </div>
  </div>
  <div class="home-supply-basis-map">
    <div class="home-supply-basis-map__background">
      <img src="assets/supply-basis-map.jpg" alt="" srcset="assets/supply-basis-map.jpg 1x, assets/supply-basis-map@2x.jpg 2x, assets/supply-basis-map@3x.jpg 3x"/>
    </div>
    <div class="home-supply-basis-map__path home-supply-basis-map__path_default">
      <img src="assets/supply-basis-path-default.svg" alt=""/></div>
    <div class="home-supply-basis-map__path home-supply-basis-map__path_dap">
      <img src="assets/supply-basis-path-dap.svg" alt=""/></div>
    <div class="home-supply-basis-map__path home-supply-basis-map__path_fob">
      <img src="assets/supply-basis-path-fob.svg" alt=""/></div>
    <div class="home-supply-basis-map__path home-supply-basis-map__path_cfr">
      <img src="assets/supply-basis-path-cfr.svg" alt=""/></div>
    <div class="home-supply-basis-map-item home-supply-basis-map-item_kuzbas" data-city="kuzbas">
      <div class="home-supply-basis-map-item__dot"></div>
      <div class="home-supply-basis-map-item__name"><%= @supply_basis['kuzbass'][0]['title'] %></div>
    </div>
    <div class="home-supply-basis-map-item home-supply-basis-map-item_hakassia" data-city="hakassia">
      <div class="home-supply-basis-map-item__dot"></div>
      <div class="home-supply-basis-map-item__name"><%= @supply_basis['khakasia'][0]['title'] %></div>
    </div>
    <div class="home-supply-basis-map-item home-supply-basis-map-item_small home-supply-basis-map-item_blagoveshensk" data-city="blagoveshensk">
      <div class="home-supply-basis-map-item__dot">
        <div class="home-supply-basis-map-item__plus"></div>
      </div>
      <div class="home-supply-basis-map-item__name"><%= @supply_basis['blagoveshchensk'][0]['title'] %></div>
    </div>
    <div class="home-supply-basis-map-item home-supply-basis-map-item_small home-supply-basis-map-item_habarovsk" data-city="habarovsk">
      <div class="home-supply-basis-map-item__dot">
        <div class="home-supply-basis-map-item__plus"></div>
      </div>
      <div class="home-supply-basis-map-item__name"><%= @supply_basis['khabarovsk'][0]['title'] %></div>
    </div>
    <div class="home-supply-basis-map-item home-supply-basis-map-item_small home-supply-basis-map-item_mihajlo-semenovoskaya" data-city="mihajlo-semenovoskaya">
      <div class="home-supply-basis-map-item__dot">
        <div class="home-supply-basis-map-item__plus"></div>
      </div>
      <div class="home-supply-basis-map-item__name"><%= @supply_basis['semenovskaya'][0]['title'] %></div>
    </div>
    <div class="home-supply-basis-map-item home-supply-basis-map-item_small home-supply-basis-map-item_grodekovo" data-city="grodekovo">
      <div class="home-supply-basis-map-item__dot">
        <div class="home-supply-basis-map-item__plus"></div>
      </div>
      <div class="home-supply-basis-map-item__name"><%= @supply_basis['grodekovo'][0]['title'] %></div>
    </div>
    <div class="home-supply-basis-map-item home-supply-basis-map-item_small home-supply-basis-map-item_kamyshovaya" data-city="kamyshovaya">
      <div class="home-supply-basis-map-item__dot">
        <div class="home-supply-basis-map-item__plus"></div>
      </div>
      <div class="home-supply-basis-map-item__name"><%= @supply_basis['kamyshovaya'][0]['title'] %></div>
    </div>
    <div class="home-supply-basis-map-popup home-supply-basis-map-popup_blagoveshensk">
      <div class="home-supply-basis-map-popup__close"><img src="assets/icons/close.svg" alt=""/></div>
      <div class="home-supply-basis-map-popup__item">
        <div class="home-supply-basis-map-popup__type"><%= @supply_basis['river_port'][0]['title'] %></div>
        <div class="home-supply-basis-map-popup__title"><%= @supply_basis['blagoveshchensk'][0]['title'] %></div>
      </div>
      <div class="home-supply-basis-map-popup__item">
        <div class="home-supply-basis-map-popup__type"><%= @titles['supply_basic'][0]['title'] %></div>
        <div class="home-supply-basis-map-popup__link" data-path="fob">FOB</div>
        <div class="home-supply-basis-map-popup__city">Хэйхе</div>
      </div>
    </div>
    <div class="home-supply-basis-map-popup home-supply-basis-map-popup_habarovsk">
      <div class="home-supply-basis-map-popup__close"><img src="assets/icons/close.svg" alt=""/></div>
      <div class="home-supply-basis-map-popup__item">
        <div class="home-supply-basis-map-popup__type"><%= @supply_basis['river_port'][0]['title'] %></div>
        <div class="home-supply-basis-map-popup__title"><%= @supply_basis['khabarovsk'][0]['title'] %></div>
      </div>
      <div class="home-supply-basis-map-popup__item">
        <div class="home-supply-basis-map-popup__type"><%= @titles['supply_basic'][0]['title'] %></div>
        <div class="home-supply-basis-map-popup__link" data-path="fob">FOB</div>
        <div class="home-supply-basis-map-popup__city">Тунцзян</div>
      </div>
      <div class="home-supply-basis-map-popup__item">
        <div class="home-supply-basis-map-popup__link" data-path="cfr">СFR</div>
        <div class="home-supply-basis-map-popup__city">Фуюань</div>
        <div class="home-supply-basis-map-popup__city">Тунцзян</div>
      </div>
    </div>
    <div class="home-supply-basis-map-popup home-supply-basis-map-popup_mihajlo-semenovoskaya">
      <div class="home-supply-basis-map-popup__close"><img src="assets/icons/close.svg" alt=""/></div>
      <div class="home-supply-basis-map-popup__item">
        <div class="home-supply-basis-map-popup__type"><%= @supply_basis['river_port'][0]['title'] %></div>
        <div class="home-supply-basis-map-popup__title"><%= @supply_basis['semenovskaya'][0]['title'] %></div>
      </div>
      <div class="home-supply-basis-map-popup__item">
        <div class="home-supply-basis-map-popup__type"><%= @titles['supply_basic'][0]['title'] %></div>
        <div class="home-supply-basis-map-popup__link" data-path="dap">DAP</div>
        <div class="home-supply-basis-map-popup__city">Тунцзян</div>
      </div>
    </div>
    <div class="home-supply-basis-map-popup home-supply-basis-map-popup_grodekovo">
      <div class="home-supply-basis-map-popup__close"><img src="assets/icons/close.svg" alt=""/></div>
      <div class="home-supply-basis-map-popup__item">
        <div class="home-supply-basis-map-popup__type"><%= @supply_basis['river_port'][0]['title'] %></div>
        <div class="home-supply-basis-map-popup__title"><%= @supply_basis['grodekovo'][0]['title'] %></div>
      </div>
      <div class="home-supply-basis-map-popup__item">
        <div class="home-supply-basis-map-popup__type"><%= @titles['supply_basic'][0]['title'] %></div>
        <div class="home-supply-basis-map-popup__link" data-path="dap">DAP</div>
        <div class="home-supply-basis-map-popup__city">Суйфэнхэ</div>
      </div>
    </div>
    <div class="home-supply-basis-map-popup home-supply-basis-map-popup_kamyshovaya">
      <div class="home-supply-basis-map-popup__close"><img src="assets/icons/close.svg" alt=""/></div>
      <div class="home-supply-basis-map-popup__item">
        <div class="home-supply-basis-map-popup__type"><%= @supply_basis['river_port'][0]['title'] %></div>
        <div class="home-supply-basis-map-popup__title"><%= @supply_basis['kamyshovaya'][0]['title'] %></div>
      </div>
      <div class="home-supply-basis-map-popup__item">
        <div class="home-supply-basis-map-popup__type"><%= @titles['supply_basic'][0]['title'] %></div>
        <div class="home-supply-basis-map-popup__link" data-path="dap">DAP</div>
        <div class="home-supply-basis-map-popup__city">Хунчунь</div>
      </div>
    </div>
    <%= render 'shared/video/dap' %>
    <%= render 'shared/video/fob' %>
    <%= render 'shared/video/cfr' %>
  </div>
</div>
<div class="home-news home-section" id="news">
  <div class="container">
    <h2 class="home-news__h2"><%= @titles['news'][0]['title'] %></h2>
    <div class="news-list">
      <% @news.each do |news| %>
        <a class="news-list-item" href="<%= news_path(id: news.id) %>">
          <span class="news-list-item__date"><%= news.created_at.strftime('%d-%m-%Y') %></span>
          <span class="news-list-item__title"><%= news.title %></span>
          <span class="news-list-item__more">
            <%= @buttons['read'][0]['title'] %>
            <span class="news-list-item__more_arrow">→</span>
          </span>
        </a>
      <% end %>
    </div>
    <div class="home-news__button">
      <a class="button button_outline button_invert" href="/news">
        <%= @buttons['news'][0]['title'] %>
      </a>
    </div>
  </div>
</div>
<%= render 'shared/navigation_page' %>
