<div class="sales-page__content">
  <div class="container">
    <div class="home-about-head sales-page-head">
      <div class="home-about-head__title">SIBSTAR GROUP</div>
      <h2 class="home-about-head__h2"><%= @titles['sales_desc'][0]['title'] %></h2>
    </div>
    <div class="home-about-slider swiper" data-speed="<%= @timer %>">
      <div class="swiper-wrapper">
        <% @slides_sales.each do |slide| %>
          <div class="swiper-slide home-about-slider__slide">
            <div class="home-about-slider__content">
              <div class="home-about-slider__text">
                <%= slide['text'].html_safe %>
              </div>
            </div>
            <div class="home-about-slider__image">
              <% if slide.image.attached? %>
                <img src="<%= assets_path(slide.image) %>" alt="" style="height: 360px;-o-object-fit: cover;object-fit: cover;">/>
              <% else %>
                <img src="<%= slide['base_image_url'] %>" alt="" style="height: 360px;-o-object-fit: cover;object-fit: cover;"/>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="home-about-slider-navigation">
        <div class="home-about-slider-navigation__item"></div>
      </div>
    </div>

    <div class="info-block sales-info-block">
      <div class="info-block__image">
        <img src="/assets/sales/image-01.jpg" alt="" srcset="/assets/sales/image-01.jpg 1x, /assets/sales/image-01@2x.jpg 2x"/>
      </div>
      <div class="info-block__caption">
        <div class="info-block__title"><%= @titles['sales_title'][0]['title'] %></div>
        <div class="info-block__text">
          <%= @titles['sales_title_d'][0]['title'] %>
        </div>
      </div>
    </div>
  </div>
</div>