<cente>
  <h2>Новое обращение #<%= @feedback.id %></h2>
  <hr>
  <p>Имя: <%= @feedback.name %></p>
  <p>email: <%= @feedback.email %></p>
  <p>Сообщение: <%= @feedback.message %></p>
  <hr>
  <p>Создано: <%= @feedback.created_at %></p>
</cente>