<!DOCTYPE html>
<html lang="en">
<!--<html lang="<%#= @page.language_code %>">-->
<head>
  <!--  <title><%#= current_page.seo_title %></title>-->
  <!--  <meta name="description" content="<%#= current_page.description %>"/>-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Stylesheets -->
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <!-- JavaScripts -->
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<% if request.original_fullpath.match? /about/ %>
  <div class="inner-page light-page about-page">
<% elsif request.original_fullpath.match? /sale_petroleum/ %>
  <div class="inner-page light-page sales-page">
<% else %>
  <div>
<% end %>
<%= render 'shared/header' %>
<%= render 'shared/navigation' %>

<!--  <div class="mx-auto max-w-screen-lg py-4 md:py-20 px-4">-->
<%= yield %>
<!--  </div>-->

<%= render 'shared/footer' %>

<%= render 'shared/popup_order' %>
<%= render 'shared/popup_email_us' %>
<%= render 'shared/popup_policy' %>
<%= render 'shared/popups_qr' %>
<%= render 'shared/mobile_rotate' %>
<%= render 'shared/popup_command' %>
<%= render 'shared/cookies' %>
</div>
</body>
</html>
